* {
    margin: 0;
    padding: 0;
}

body {
    font-family: system-ui, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.nav-bar {
    background-color: #1F2937;
    display:flex;
    justify-content: space-between;
    padding: 1% 15% 0% 15%;
}

.hero {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8% 15% 8% 15%;
    gap: 20%;
}


.header-logo {
    font-size: 24px;
    color: #F9FAF8;
}

.nav-links {
    margin: 0;
    padding: 0;
    display:flex;
    gap: 5px;
    align-content: center;
    list-style: none;
}

.hero-main-text {
    font-size: 48px;
    font-weight: 700;
    color: #F9FAF8;
}

.hero-secondary-text, .nav-links {
    font-size: 18px;
    color: #E5E7EB;
}

.hero-secondary-text {
    padding: 5px 0px;
}

.secondary-row {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2% 15% 5% 15%;
    gap: 20%;
}


.primary-button {
    font-size: 18px;
    font-style: bold;
    background-color: #3882F6;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px 30px 10px 30px;
}

.primary-header {
    display: flex;
    font-size: 36px;
    font-weight: 700;
    color: #1F2937;
    padding-bottom: 2%;
}

.card-containers {
    display: flex;
    flex-direction: row;
    gap: 5%;
}

.card-containers > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.card-containers > div > img {
    height: 200px;
    width: 200px;
}

.quote-container {
    background-color: #E5E7EB;
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: #1F2937;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10%;
}

.author {
    font-weight: 700;
    font-size: 25px;
    align-self: self-end;
}

.call-to-action {
    display: flex;
    padding: 20px;
    color: white;
    justify-content: center;
}

.call-to-action > div {
    margin: 20px;
    display: flex;
    background-color: #3882F6;
    gap: 40px;
    padding: 40px;
    border-radius: 20px;
    align-items: center;
}

.call-to-action text {
    display: flex;
}

.call-to-action button {
    display: flex;
}

.secondary-button {
    color: white;
    background-color: #3882F6;
    border: 3px solid white;
    border-radius: 10px;
    padding: 10px 20px 10px 20px;
}

footer {
    display: flex;
    justify-content: center;
    padding: 40px 0;
    background-color: #1F2937;
    font-size: 18px;
    color: #E5E7EB;
}